$text_color: #353535;
$shadow: rgba(0, 0, 0, 0.25);

@keyframes ani {
  0% {transform: translateX(100%);}
  100% {transform: translateY(0);}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
  border-radius: 1em;
  transform: translateX(100%);
  animation: ani 1s forwards;
  margin-bottom: 3em;

  &:hover {
    box-shadow: 0 5px 10px $shadow;
  }

  h2 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  hr {
    width: 100%;
    margin: 3em 0;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;

  }

  h4 {
    margin-bottom: 1em;
    font-weight: 600;
  }

  ol {
    list-style: circle;
    margin-left: 2em;

    li {
      margin-bottom: 1em;
    }
  }

  img {
    margin-top: 1em;
  }
}
