.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;

  .outlet {
    margin-top: 12em;
    padding: 0 2em;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .container {  
    .outlet {
      margin-top: 50px;
      padding: 0;
    }
  }
}
