$text_color: #353535;
$shadow: rgba(0, 0, 0, 0.25);

@keyframes ani {
  0% {transform: translateX(-100%);}
  100% {transform: translateY(0);}
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  transform: translateX(-100%);
  animation: ani 1s forwards;
  margin-bottom: 10em;

  .about {
    display: flex;
    justify-content: space-between;  
  
    .text {
      margin-right: 3em;
      display: flex;
      flex-direction: column;
    
      h2 {
        font-size: 6em;
        font-weight: 800;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }
  
      p {
        margin: 3em 0;
      }
  
      a {
        color: $text_color;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 400;
        border-radius: 50vh;
        transition: 0.2s;
        padding: 0.5em 1em;
        border: 1px solid;
        width: 8.3em;
    
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 5px 10px $shadow;
        }
      }
    }
  
    .img {
      width: 24em;
      filter: grayscale(100%);
    }
  }

  hr {
    margin: 3em 0 10em 0;
  }

  h2 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5em;
  }

  ol {
    li {
      margin-bottom: 1em;
      background-image: url('https://cdn.icon-icons.com/icons2/2406/PNG/512/code_tags_html_inline_icon_145999.png');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding-left: 40px;
      padding-top: 3px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 1em;
  
    .about {
      flex-direction: column-reverse;
    
      .text {
        margin-right: 0;
    
        h2 {
          margin-top: 2em;
          font-size: 1em;
        }
    
        p {
          margin: 2em 0;
        }
      }
    
      .img {
        width: 10em;
      }
    }
  
    hr {
      margin: 3em 0;
    }
  
    h2 {
      font-size: 1.2em;
    }
  }
}
