.container {
  margin-top: 15em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .circle {
    width: 40em;
    height: 40em;
    background: linear-gradient(70deg, rgb(0, 0, 0), rgb(36, 27, 139), rgb(114, 111, 211), rgb(203, 198, 241));
    // background: linear-gradient(70deg, rgb(119, 0, 0), orange);
    border-radius: 50%;
    animation: 10s ease-in 1s reverse both running fly;
    animation-iteration-count: infinite;
  }

  @keyframes fly { 
    0% { 
      margin-top: 0em;
      width: 40em;
      height: 40em;
    } 
    25% {
      margin-right: 5em;
      width: 20em;
      height: 30em;
    }
    50% {
      margin-top: 10em;
      width: 30em;
      height: 20em;
    } 
    75% {
      margin-left: 10em;
      width: 50em;
      height: 50em;
    } 
  }

  .blur {
    position: fixed;
    top: 0;
    margin: 0 auto;
    backdrop-filter: blur(2em);
    min-width: 100%;
    height: 100%;
  }
}
