$text_color: #353535;
$shadow: rgba(0, 0, 0, 0.25);

.blur {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: $text_color;
  border-bottom: 0.1em solid $text_color;
  margin: 0 2em;
  min-height: 8em;

  h1 {
    font-size: 3rem;
    padding-left: 1.5em;
    font-family: 'Abril Fatface', cursive;
    background-size: 50px;
    position: relative;

    img {
      position: absolute;
      width: 50px;
      left: 0;
      top: -5px;
    }
  }

  .contacts__link {
    color: $text_color;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 1.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.5em 1em;
    border-radius: 50vh;
    transition: 0.2s;
    border: 1px solid;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px $shadow;
    }
  }
}

@media only screen and (max-width: 767px) {
  .blur {
    width: 88%;
    position: relative;
  }

  .navigation {
    flex-direction: column;
    margin: 1em auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;

    h1 {
      margin-top: 30px;
      font-size: 2em;
    }
  
    div {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 0.2em;
        font-size: 15px;
      }
    }
  }

  .contacts {
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 5px;

    .contacts__link {
      width: 250px;
      text-align: center;
      margin-left: 0;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }
}

