$text_color: #353535;
$shadow: rgba(0, 0, 0, 0.25);

.blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(5px);
}

.navigation {
  color: $text_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  border-bottom: 0.1em solid $text_color;
  margin: 0 2em;

  h1 {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
  }

  a {
    color: $text_color;
    text-decoration: none;
    margin: 0 0 0 1.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.5em 1em;
    border-radius: 50vh;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 5px 10px $shadow;
    }
  }
}
