$background: #353535;

.footer {
  width: 100%;
  background-color: $background;
  color: white;
  padding: 3em 2em;

  .info {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 3rem;
      padding-left: 1.5em;
      font-family: 'Abril Fatface', cursive;
      // background-image: url('https://svgur.com/i/jxo.svg');
      // background-repeat: no-repeat;
      // background-position: left start;
      background-size: 50px;
      position: relative;

      img {
        position: absolute;
        width: 50px;
        left: 0;
        top: 0;
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        color: white;
        display: inline-block;
        text-decoration: none;
        margin: 1em 0;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;

        img {
          width: 35px;
          position: absolute;
          top: -10px;
          left: -50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) { 
  .footer {
    .info {
      flex-direction: column;
      gap: 30px;
      padding-left: 1.5em;
  
      h2 {
        display: none;
      }
    }
  }
}
